
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --body-bg: #f5f8ff;
  --box-bg: #f5f8ff;
  --box-bg-dark: #F3F3F3;
  --input-bg: #f5f8ff;
  --text-color: #2f2d2f;
  --text-second-color: #eb5e28;
  --border-color: #4267b2;
  --box-shadow: rgba(149,157,165,.2) 0px 8px 24px;

  --hue: 223;
	--bg: #eb5e28;;
	--fg:  #eb5e28;;
	--primary:  #eb5e28;
	--primary-l: #eb5e28;
	--primary-d:  #eb5e28;
	--white: hsl(var(--hue),10%,100%);
	--white-d: hsl(var(--hue),10%,45%);

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  padding-top: 20px;

  height: 100vh;

}

.box{
  background-color: var(--box-bg);
  padding:30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  flex-direction: column;

}

div {
  height: max-content;
}

.toplogy{
  font-size: 1.5rem;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}


.box--upload{
  background-color: var(--box-bg);
  padding:30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
	display:grid;
	grid-template-rows: .2fr .1fr .3fr .1fr;
	grid-template-columns: 1fr;
  }

  .marginTop{
    margin-top: 20px;
  }

.text-area-title{
  border-bottom: 2px solid var(--text-second-color);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.toplolgy-mini{
  font-size: 1rem;
}

.box--upload .header{
  font-size: 1.3rem;
}

.align-items-center{
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }

.text-area{
  overflow-x: visible;
  overflow-y: scroll;
}

.output-format{
  overflow-x: hidden;
  overflow-y: auto;
}

.justify-content-center{
  justify-content: center;
}

.ant-btn padded{
  padding-top: 30px;
}

.ant-btn{
  height: 50px;
  padding: 16.299999997px 19px;
  color: #fff;
  box-shadow: var(--box-shadow);
  background-color: var(--text-second-color);
  outline: none;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.1;
  border-radius: 5px;
  font-size: 1rem;

}

.mr4{
  margin-right: 1rem;
}


.form-header-title{
  display:flex;
  flex: 1 1;
  flex-direction: column;
}

.box-body{
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.boxdefault{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:14px;
  line-height: 1.1;
  position: relative;
  background-color: var(--box-bg);
  padding:30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.boxdefault-padded{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:14px;
  line-height: 1.1;
  position: relative;
  background-color: var(--box-bg);
  padding:30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}


.content-box{
  display:grid;
  flex: 1 1;
  gap: 0.75rem;
  grid-template-areas:
    "header header"
    "left-rail right-rail";
  grid-template-columns: 1fr .2fr;
  grid-template-rows: auto 1fr;
  margin: 15px;
  background-color: var(--box-bg-dark);
  padding:0.75rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}


.app-header{
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
}

.app-header h1{
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--text-second-color);
}


.topology-mini{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.45);
  margin-top: 0.25rem;
  word-break: break-word;
  line-height: 1.1;
  text-align: left;
}

.left-rail-area{
  grid-area: left-rail;
}

.right-rail-area{
  grid-area: right-rail;
  justify-content: center;
}

.flex{
  display:flex;
}

.flex-1{
  flex: 1 1;
}

.flex-column{
  flex-direction: column;
}

.header-area{
	grid-area: header;

}

  .primaryTextColor {
    color: var(--text-second-color);
}

.text-area-title{
  font-weight: 600;
  font-style: bold;
  color: var(--text-second-color);  
}


  .header-text-area{
	display: flex;
	flex: 1 1;
	flex-direction: column;
  }

.header{
  display:flex;
  position:relative;
  text-align: center;
  max-height: max-content;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}


ul{
  display:list-item;
}
li::marker{
  content: initial;
}

ul li::marker {
  display:list-item;
  content: initial;

  color: black;
}
li{
  display:list-item;
  margin-left: 10px;
  list-style-type: circle;
}

.output-format h2{
  font-size: 1.23rem;
  line-height: 1.1;
  word-spacing: 0;
  display:list-item;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-container{
  margin-top: 50px;
  display:flex;
	position: relative;
  flex-direction: column;
}

.tab-subject {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-second-color);
  height: 100%;
  width: 20%;
  padding: 0 20px;
  padding-top: 5px;
  width: 200px;
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;
  font-style: bold;
  color:white;
  font-weight: 600;
  cursor: pointer;
}

.label{
  position: absolute;
  left: 25px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: white;

}

.text-input{
  margin-top: -1px;
  padding: 0.8rem;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 5px;
  border-style: solid;
  background-color: var(--body-bg);
  border-color: var(--text-second-color);
  font-size: 18px;
  transition: all .3s;
  color: black;
}

.label::before{
  content: "";
  height: 5px;
  background-color: var(--text-second-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

form{
  height: max-content;
}

.text-input:focus{
  border-style: solid;
  border-width: 5px;
  border-style: solid;
  background-color: var(--body-bg);
  border-color: var(--text-second-color);
}

.text-input + .label,
.filled{
  top: 30px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.text-input::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  transition: all .3s;
  font-weight: bold;
  color:black;
  
}

.text-input:focus::placeholder{
  opacity: 0;
}
.subscript {
  background-color: red;
  color: white;
  font-size: 0.4em;
  padding: 0.1em 0.4em;
  vertical-align: sub;
}

.record-button {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  border-style: none;
  background-color: var(--body-bg);
  outline: none;
  box-shadow: 0 0 0 0 rgba(221, 236, 250, 0.667) ;
  animation: pulse-white 2s infinite;
  
}
.micContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: var(--text-second-color);
  color: white;
  padding: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  position: relative;
}

.tab-container {
  margin-top: -1px;
  position: relative;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-second-color);
  height: 100%;
  width: 45%;
  padding: 0 20px;
  width: 200px;
  border-bottom-left-radius: 20px;  
  border-bottom-right-radius: 20px;
  color:white;
  cursor: pointer;
}



.tab-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-second-color);
  height: 100%;
  width: 45%;
  padding: 0 20px;
  border-bottom-left-radius: 20px;  
  border-bottom-right-radius: 20px;
  color:white;
  cursor: pointer;
  position: relative;
}

.tab-upload::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  border-bottom-left-radius: 20px;  
  border-bottom-right-radius: 20px;
}

.tab-upload::after {
  content: "Coming soon";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #555;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.tab-upload:hover::after {
  opacity: 1;
}


.tab span {
  font-size: 16px;
  font-weight: 600;
}

.tab-upload span {
  font-size: 14px;
  font-weight: 600;
}

.indicator




.instructions{
  margin-top: 20px;
}


.record-button-recording {
  height: 8em;
  width: 8em;
  max-width: 100%;
  border-radius: 50%;
  border-style: none;
  background-color: var(--body-bg);
  box-shadow: 0 0 0 15px rgba(255, 7, 7,0);
  animation: pulse-red 2s infinite;
  outline: none;

}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 15px rgba(255, 29, 29, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(221, 236, 250, 0.667);
  }
  
  70% {
   
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
   
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media only screen and (max-width: 490px) {
  .box-body {
    flex-direction: column;
  }
  .ant-btn{
    margin-top: 1rem; 
  }
}

@media only screen and (max-width: 1020px) {


  .left-rail-area{
    margin-left: 0px;
    margin-right: 0px;
  }
  .box-body{
    padding-top: 10px;
    padding-left: 5px;
  }
  body {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .text-area{
    min-width: 90vw !important; 
    margin-left: 5px;
    margin-right: 5px;
  }

  .micContainer {
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .text-input{
    border-top-left-radius: 0px;

  }

  .tab-container {
    width: 100%;
  }

  .tab {
    width: 50%;
  }

  .tab-upload {
    width: 45%;
  }

  .tab-upload span {
    font-size: 12px;
  }
  .tab span {
    font-size: 15px;
  }


  .tab-upload::after {
    font-size: 12px;
  }

  .content-box {
    grid-template-areas:
      "header"
      "right-rail"
      "left-rail";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0;
    padding: 0.5rem;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .boxdefault{
    padding: 5px;
  }

  .boxdefault-padded{
    padding: 20px;
  }

  .boxdefault, .box--upload {
    margin: 5px;
  }

  .mr4 {
    margin-right: 0.5rem;
  }

  .record-button, .record-button-recording {
    height: 6em;
    width: 6em;
  }

  .record-icon {
    height: 3em;
    width: 3em;
  }
}

.book{
  justify-content: center;
}


.book,
.book__pg-shadow,
.book__pg {
	animation: cover 7s ease-in-out infinite;
}
.book {
	background-color: var(--primary-l);
	border-radius: 0.25em;
	box-shadow:
		0 0.25em 0.5em hsla(0,0%,0%,0.3),
		0 0 0 0.25em var(--primary) inset;
	padding: 0.25em;
	perspective: 37.5em;
	position: relative;
	width: 8em;
	height: 6em;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
}
.book__pg-shadow,
.book__pg {
	position: absolute;
	left: 0.25em;
	width: calc(50% - 0.25em);
}
.book__pg-shadow {
	animation-name: shadow;
	background-image: linear-gradient(-45deg,hsla(0,0%,0%,0) 50%,hsla(0,0%,0%,0.3) 50%);
	filter: blur(0.25em);
	top: calc(100% - 0.25em);
	height: 3.75em;
	transform: scaleY(0);
	transform-origin: 100% 0%;
}
.book__pg {
	animation-name: pg1;
	background-color: var(--white);
	background-image: linear-gradient(90deg,hsla(var(--hue),10%,90%,0) 87.5%,hsl(var(--hue),10%,90%));
	height: calc(100% - 0.5em);
	transform-origin: 100% 50%;
}
.book__pg--2,
.book__pg--3,
.book__pg--4 {
	background-image:
		repeating-linear-gradient(hsl(var(--hue),10%,10%) 0 0.125em,hsla(var(--hue),10%,10%,0) 0.125em 0.5em),
		linear-gradient(90deg,hsla(var(--hue),10%,90%,0) 87.5%,hsl(var(--hue),10%,90%));
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2.5em 4.125em, 100% 100%;
}
.book__pg--2 {
	animation-name: pg2;
}
.book__pg--3 {
	animation-name: pg3;
}
.book__pg--4 {
	animation-name: pg4;
}
.book__pg--5 {
	animation-name: pg5;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,30%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animations */
@keyframes cover {
	from, 5%, 45%, 55%, 95%, to {
		animation-timing-function: ease-out;
		background-color: var(--primary-l);
	}
	10%, 40%, 60%, 90% {
		animation-timing-function: ease-in;
		background-color: var(--primary-d);
	}
}
@keyframes shadow {
	from, 10.01%, 20.01%, 30.01%, 40.01% {
		animation-timing-function: ease-in;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0.2) rotateY(90deg);
	}
	10%, 20%, 30%, 40%, 50%, to {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(180deg);
	}
	50.01%, 60.01%, 70.01%, 80.01%, 90.01% {
		animation-timing-function: ease-in;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(180deg);
	}
	60%, 70%, 80%, 90%, to {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(0);
	}
}
@keyframes pg1 {
	from, to {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.4deg);
	}
	10%, 15% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
	20%, 80% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
	85%, 90% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
}
@keyframes pg2 {
	from, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
	5%, 10% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
	20%, 25% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	30%, 70% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	75%, 80% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	90%, 95% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
}
@keyframes pg3 {
	from, 10%, 90%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
	15%, 20% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
	30%, 35% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	40%, 60% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	65%, 70% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	80%, 85% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
}
@keyframes pg4 {
	from, 20%, 80%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
	25%, 30% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
	40%, 45% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	50% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	55%, 60% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	70%, 75% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
}
@keyframes pg5 {
	from, 30%, 70%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0);
	}
	35%, 40% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0deg);
	}
	50% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.6deg);
	}
	60%, 65% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0);
	}
}


