.drop-file-input {
	position: relative;
	max-width: 100%; 
	width: 400px;
	height: 200px;
	border: 2px dashed var(--border-color);
	border-radius: 20px;
  
	display: flex;
	align-items: center;
	justify-content: center;
  
	/*background-color: rgba(0, 0, 0, 0.5);*/
	color: #fff;
  
	filter: blur(5px); /* Add a blur filter */
  }
  
  .drop-file-input:hover::before {
	content: "Upload Files Feature Coming Soon";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:black;
	text-shadow: 1px 1px #000;
  }
  
  /* Remove blur filter on hover */
  .drop-file-input:hover{
	filter: none; /* Add a blur filter */
  }
  
  .drop-file-input input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
  }
  
  .drop-file-input__label {
	text-align: center;
	color: var(--text-second-color);
	font-weight: 600;
	padding: 10px;
	filter: blur(5px); /* Add a blur filter */
  }
  
  /* Remove blur filter on hover */
  .drop-file-input:hover .drop-file-input__label {
	filter: none;
  }
  
  .drop-file-input__label img {
	width: 100px;
	filter: blur(5px); /* Add a blur filter */
  }
  
  /* Remove blur filter on hover */
  .drop-file-input:hover .drop-file-input__label img {
	filter: none;
  }
  
  .drop-file-preview {
	margin-top: 30px;
  }
  
  .drop-file-preview p {
	font-weight: 500;
  }
  
  .drop-file-preview__item {
	position: relative;
	display: flex;
	margin-bottom: 10px;
	background-color: var(--input-bg);
	padding: 15px;
	border-radius: 20px;
  }
  
  .drop-file-preview__item img {
	width: 50px;
	margin-right: 20px;
  }
  
  .drop-file-preview__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
  }
  
  .drop-file-input__item__del {
	background-color: var(--box-bg);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
  }
  
  .drop-file-preview__item:hover .drop-file-input__item__del {
	opacity: 1;
  }
  
  @media only screen and (max-width: 480px) {
	.drop-file-input {
	  width: 100%;
	  height: 150px;
	}
  
	.drop-file-input__label img {
	  width: 50px;
	}
  }
  